* {box-sizing: border-box;}
.product-wrap {
    width: 300px;
    margin: 0 auto;
    background: white;
    padding: 0 0 20px;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
}
.product-item {
    position: relative;
    overflow: hidden;
    border: 1px solid;
    border-radius: 10px;
}
.product-wrap img {
    display: block;
    width: 100%;
}
.product-buttons {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    opacity: 0;
    transition: .3s ease-in-out;
}
.add-cart {
    text-decoration: none;
    color: #c0a97a;
    font-size: 12px;
    width: 140px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    top: 40%;
    left: 50%;
    border: 2px solid #c0a97a;
    transform: translate(-50%, -50%) scale(0);
    transition: .3s ease-in-out;
}
.read-more {
    text-decoration: none;
    color: #c0a97a;
    font-size: 12px;
    width: 140px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    top: 60%;
    left: 50%;
    border: 2px solid #c0a97a;
    transform: translate(-50%, -50%) scale(0);
    transition: .3s ease-in-out;
}
.add-cart:before {
    content: "\f07a";
    font-family: FontAwesome;
    margin-right: 10px;
}
.read-more:before {
    content: "\f06e";
    font-family: FontAwesome;
    margin-right: 10px;
}
.product-item:hover .product-buttons {opacity: 1;}
.product-item:hover .add-cart {transform: translate(-50%, -50%) scale(1);}
.product-item:hover .read-more {transform: translate(-50%, -50%) scale(1);}
.add-cart:hover {background: black;}
.read-more:hover {background: black;}
.product-title {color: #5e5e5e;}
.product-title a {
    text-decoration: none;
    color: #2e2e2e;
    font-weight: 600;
    margin: 15px 0 5px;
    padding-bottom: 7px;
    display: block;
    position: relative;
    transition: .3s ease-in-out;
}
.product-title a:after{
    content: "";
    position: absolute;
    width: 40px;
    height: 2px;
    background: #2e2e2e;
    left: 50%;
    margin-left: -20px;
    bottom: 0;
    transition: .3s ease-in-out;
}
.product-title a:hover {color: #c0a97a;}
.product-title:hover a:after {background: #c0a97a;}
.product-price {
    font-size: 20px;
    color: #c0a97a;
    font-weight: 700;
}

/* Columns */
.left-column {
    width: 65%;
    position: relative;
}

.right-column {
    width: 35%;
    margin-top: 60px;
}
/* Left Column */
.left-column img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.3s ease;
}

.left-column img.active {
    opacity: 1;
}
/* Product Description */
.product-description {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
}
.product-description span {
    font-size: 12px;
    color: #358ED7;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}
.product-description h1 {
    font-weight: 300;
    font-size: 52px;
    color: #43484D;
    letter-spacing: -2px;
}
.product-description p {
    font-size: 16px;
    font-weight: 300;
    color: #86939E;
    line-height: 24px;
}
/* Product Color */
.product-color {
    margin-bottom: 30px;
}

.color-choose div {
    display: inline-block;
}

.color-choose input[type="radio"] {
    display: none;
}

.color-choose input[type="radio"] + label span {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
}

.color-choose input[type="radio"] + label span {
    border: 2px solid #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
}

.color-choose input[type="radio"]#red + label span {
    background-color: #C91524;
}
.color-choose input[type="radio"]#blue + label span {
    background-color: #314780;
}
.color-choose input[type="radio"]#black + label span {
    background-color: #323232;
}

.color-choose input[type="radio"]:checked + label span {
    background-image: url(images/check-icn.svg);
    background-repeat: no-repeat;
    background-position: center;
}
/* Cable Configuration */
.cable-choose {
    margin-bottom: 20px;
}

.cable-choose button {
    border: 2px solid #E1E8EE;
    border-radius: 6px;
    padding: 13px 20px;
    font-size: 14px;
    color: #5E6977;
    background-color: #fff;
    cursor: pointer;
    transition: all .5s;
}

.cable-choose button:hover,
.cable-choose button:active,
.cable-choose button:focus {
    border: 2px solid #86939E;
    outline: none;
}

.cable-config {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
}

.cable-config a {
    color: #358ED7;
    text-decoration: none;
    font-size: 12px;
    position: relative;
    margin: 10px 0;
    display: inline-block;
}
.cable-config a:before {
    content: "?";
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px solid rgba(53, 142, 215, 0.5);
    display: inline-block;
    text-align: center;
    line-height: 16px;
    opacity: 0.5;
    margin-right: 5px;
}
/* Product Price */
.product-price {
    display: flex;
    align-items: center;
}

.product-price span {
    font-size: 26px;
    font-weight: 300;
    color: #43474D;
    margin-right: 20px;
}

.cart-btn {
    display: inline-block;
    background-color: #7DC855;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .5s;
}
.cart-btn:hover {
    background-color: #64af3d;
}
